* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: rgb(71, 128, 128);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 1px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.botao:hover {
    background-color: gray;
}

#resultado {
    width: 210px;
    background-color: white;
    color: black;
    height: 30px;
    margin: 4.9px;
    font-size: 25px;
    text-align: right;
}

#bot {
    height: 104px;
}

#bota {
    width: 104px;
}

h1 {
    text-align: center;
}